$prefix: "../";
$color__orange: #ff7437;
$footer-height: 33px;
$img__about: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg";
$img__comingsoon: $prefix+"img/comingsoon.jpg";
$img__contact: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$img__error: $prefix+"img/error.jpg";
$img__index: $prefix+"img/index/index-s1.jpg";
$img__index--v: $prefix+"img/index/index-s1v.jpg";
$img__offers: 
    $prefix+"img/offers/offers-s1.jpg",
    $prefix+"img/offers/offers-s2.jpg";
$img__privacy: $prefix+"img/privacy.jpg";
$img__aoa:
    $img__about,
    $img__comingsoon,
    $img__contact,
    $img__error,
    $img__index,
    $img__offers,
    $img__privacy;
$img__aoa--v:
    $img__index--v;
$img__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "offer",
    "privacy";
$img__classes--v:
    "index";
$logo__height: 40px;
$text__shadow: 1px 1px 3px #333;